nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.653);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.185);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.347);
    width: 60%;
    position: relative;
}


#log_div{
    width: 100%;
    padding: 20px;
    z-index: -1;
}

.logo_small{
    background: rgba(255, 255, 255, 0.557);
    border-radius: 100%;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.584);
    width: fit-content;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#user_para{
    display: flex;
    background: linear-gradient(135deg, #7366ff,#4facfe,#43e97b);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    top: 0;
}

.nav{
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.217);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.185);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.347);
    width: 100%;
    position: relative;
}

nav::before{
    content: " ";
    background: linear-gradient(135deg, #7366ff,#4facfe,#43e97b);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    justify-content: center;
    padding: 20px;
}

p, h2, h3, h1{
    color: #ffffff;
    margin: 0px;
}

#Account_overview{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero{
    display: flex;
    padding: 1em;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.hero_div{
    display: flex;
}

.icon_medium{
    width: 80px;
    height: 80px;
}

#log{
    border-radius: 20px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 20px;
    height: 250px;
    flex-wrap: wrap;
}
#log_div{
    height: 250px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.164);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.584);
    color: #ffffff;
    display: flex;
    width: 80%;
    flex-direction: column;
    height: fit-content;
    overflow: auto;
}
#menu{
    width: 100%;
    display: flex;
    padding: 1em;
    justify-content: space-around;
}
.logo_para{
    display: flex;
    align-items: center;
    gap: 20px;
    background: linear-gradient(135deg, #7366ff,#4facfe,#43e97b);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.584);
    justify-content: space-around;
}

.logo{
    background: rgba(255, 255, 255, 0.557);
    border-radius: 100%;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.584);
    width: fit-content;
    height: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.menu_div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.input_para{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_div{
    height: 35px;
    border: 1px solid rgba(79, 215, 45, 0.13);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.445);
    width: 100%;
    background: rgba(255, 255, 255, 0.715);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.185);
    box-shadow: 0 4px 30px rgba(27, 27, 27, 0.53);
    display: flex;
    align-items: center;
    padding: 5px;
}

input{
    width: 100%;
    left: 0;
    margin-left: 5px;
    background: transparent;
    border: transparent;
    color: #203a43;
}

input:focus{
    outline: none;
}
.function_div{
    display: flex;
    justify-content: space-around;
}
.paragrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.dropdown_input{
    position: relative;
    display: flex;
}

.dropdown{
    position: absolute;
    height: 100%;
    right: 0;
}
.icon_small{
    width: 30px;
    height: 30px;
}
select{
    height: 100%;
    border-radius: 20px;
    background-color: #43e97b;
    border: 2px solid rgba(43, 43, 43, 0.08);
    box-shadow: 0 4px 30px rgba(24, 24, 24, 0.146);
}


button{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.436);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.185);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.53);
    width: 100%;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    transition: background 3s ease;
}
button:hover{
    background: linear-gradient(135deg,#4facfe,#43e97b);
    box-shadow: 0 4px 30px rgba(248, 248, 248, 0.731)
}

#currency_div{
    display: flex;
}

#func_acc_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#Finacial{
    background: linear-gradient(135deg, #ff758c,#7366ff);
}