nav{
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.164);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.584);
    width: 80%;

}

nav::after{
    background: rgba(129, 14, 14, 0.164);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid #e3101021;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.584);
    width: 80%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);


    padding: 1em;
    justify-content: center;
}

p, h2, h3, h4{
    color: #ffffff;
}

#hero{
    display: flex;
    padding: 1em;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

#icon_medium{
    width: 100px;
    height: 100px;
}

#bank_log{
    height: 250px;
    margin: 1em;
    padding: 1em;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.164);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.584);
    width: 90%;
}

.logo_para{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1em;
    width: 100%;
    background-color: ;
}

#menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

.logo{
    background: rgba(255, 255, 255, 0.164);
    border-radius: 100%;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.584);
    width: fit-content;
    height: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}